.checkbox-container {
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox-icon {
	vertical-align: middle;
	color: $goodlawyer-green;
	font-weight: $light;
	font-size: 24px;
}

.checkbox-text {
	vertical-align: middle;
	color: $goodlawyer-black;
	font-weight: $light;
	margin-left: 5px;
	font-size: 16px;
}
