@media screen and (max-width:$breakpoint-m) {
	.slide-component-container {
		position: fixed;
		transform: translateY(110%);
		bottom: 0;
		max-height: 90%;
		height: auto;
		z-index: 2003;
		right: 0;
		left: 0;
		background-color: white;
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		box-shadow: 0px -3px 3px $goodlawyer-shadow;
		overflow-y: auto;
		padding-bottom: $s-spacing;
	}
}

@media screen and (min-width:$breakpoint-m) {
	.slide-component-container {
		position: fixed;
		transform: translateY(110%);
		bottom: 0;
		max-height: 90%;
		height: auto;
		z-index: 2003;
		right: 0;
		left: 275px;
		background-color: white;
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		box-shadow: 0px -3px 3px $goodlawyer-shadow;
		overflow-y: auto;
		padding-bottom: $s-spacing;
	}
}

body.slide-section {
	overflow: hidden !important;
}



.slide-component-container.isChat {
	height: 90%;
}

.slide-component-container.full-width {
	left: 0;
	max-height: 80%;
}

.slide-component-container.open {
	transform: translateY(0%);
}

.slide-component-screen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $goodlawyer-shadow;
	z-index: 2002;
	-webkit-transform: translateY(110%);
	transform: translateY(110%);
	transition: all 0.3s;
	cursor: pointer;
}

.slide-component-screen.open {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}



.slide-component-close {
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 100000000;
}

.slide-component-close-icon {
	font-size: 24px;
	color: $goodlawyer-green;
	cursor: pointer;
	margin: 10px;
}

.slide-component-close-icon.white {
	color: white;
}

.slide-buttons {
	text-align: right;
}

.slide-errors {
	text-align: left;
	margin-top: $s-spacing;
	margin-bottom: $s-spacing;
}

.slide-error {
	color: $error-color;
	font-size: $m-font;
	font-weight: $light;
}

.slide-form-container {
	padding: $m-spacing;
}

.slide-form-container.half {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.slide-header {
	font-size: $m-font;
	color: $goodlawyer-green;
	font-weight: $light;
	display: block;
	margin-bottom: $s-spacing;
}
