html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    background-image: linear-gradient(to right, #96bcc9, #7bb4c0, #5dadb4, #3ea4a5, #179c92);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arhivo', monospace;
    text-emphasis: bold;
    align-content: center;
    text-align: center;
}

h1,
h4 {
    text-align: center;
    padding: 5px;
    margin: 10px;
}

header {
    text-align: center;
    font-size: 111%;
    text-emphasis: bold;
    color: #FFFFFF;
    padding: 3px;
    margin: auto;
}

.header {
    background-color: #000000bb;
}

.calc-outer {
    display: block;
    margin: auto;
    background-color: #000000bb;
    width: 600px;
}

.display {
    background-color: #11d3c3a9;
    padding: 18px;
    color: #000000bb;
    font-size: 2em;
    text-align: right;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    border-bottom: none;
}

.calc-button {
    border-style: inset;
    border-width: 3px;
    border-color: #FFFFFF88;
    height: 100px;
    color: #FFFFFF;
    text-align: center;
    max-width: 150px;
    min-width: 150px;
}

.spacer {
    height: 50px;
}

@media (max-width:600px) {
    .calc-outer {
    	display: flex;
		margin: none;
        width: 100%;
    }

	.calc-button {
		min-width: 25%;
		max-width: 25%;
	}
}
