html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

header {
	text-align: center;
	font-size: 111%;
	text-emphasis: bold;
	color: #FFFFFF;
	padding: 1px;
}

.header {
	background-color: #000000;
	margin: 20px;
}

body {
	background-image: linear-gradient(to right top, #500e11, #5f1b1d, #6e272a, #7e3337, #8d4044);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Arhivo', monospace;
	text-emphasis: bold;
	color: #FFFFFF;
}

.body-content {
	margin: 5%;
	min-height: calc(100vh-70px);
	height: 100%;
}

footer {
	font-size: 85%;
	text-align: center;
	font-style: italic;
	height: 50px;
}

p {
	text-emphasis: bold;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #285854;
	border-width: 5px;
	padding: 8px;
}

.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #285854;
	border-width: 5px;
	padding: 12px;
}

a.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #285854;
	border: none;
	color: white;
	padding: 16px 32px;
	font-size: 18px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
	font-family: 'Arhivo', monospace;
}

a.button:hover {
	background-color: white;
	color: black;
}

a.button-selected {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #549b95;
	border: none;
	color: white;
	padding: 16px 32px;
	font-size: 18px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
	font-family: 'Arhivo', monospace;
}

a.button-selected:hover {
	background-color: white;
	color: black;
}

.sneak {
	display: block;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 115px;
	height: 0;
	transition: .75s ease;
}

.extra:hover .sneak {
	height: 100%;
}

.extra {
	position: relative;
	width: 100%;
	height: 100%;
	color: orange;
	min-height: 144px;
	text-align: center;
	padding-bottom: 180px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-40%, -40%);
	-ms-transform: translate(-40%, -40%);
	transform: translate(-40%, -40%);
	text-align: center;
}

.review-container {
	font-style: italic;
	font-size: 111%;
	color: cyan;
}

.review {
	text-decoration: springgreen;
}
