body {
	background-image: linear-gradient(to right top, #500e11, #5f1b1d, #6e272a, #7e3337, #8d4044);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Arhivo', monospace;
}

header {
	text-align: center;
	font-size: 140%;
}

h1 {
	font-size: 150%;
	color: #285854;
}

h2 {
	font-size: 130%;
}

footer {
	font-size: 75%;
	text-align: center;
}

hr {
	border: none;
	height: 5px;
	color: #333;
	background-color: #333;
}

button {
	display: inline-block;
	text-align: center;
	background-color: #285854;
	border: none;
	color: white;
	padding: 16px 32px;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.2s;
	cursor: pointer;
	font-family: 'Arhivo', monospace;
}

button:hover {
	background-color: white;
	color: black;
}
