html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

.box-outer {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.form-container {
	width: 40%;
	max-width: 600px;
	min-width: 300px;
	margin: auto;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	display: block;
}

.title {
	display: block;
	font-weight: bold;
	color: #ffffff;
	font-size: 2em;
	padding: 5px;
}

.subtitle {
	display: block;
	font-weight: bold;
	padding: 5px;
	padding-bottom: 10px;
	color: #ffffff;
}

.titles {
	display: block;
	max-width: 100%;
	background-color: #000000d0;
	padding: 10px 10px 10px 25px;
}

.input-group {
	margin: 5px;
	padding: 10px;
	width: 100%;
	display: flex;
}

.input-label {
	display: inline-block;
	margin: auto;
	color: black;
	font-size: 15px;
	font-weight: bold;
	width: 10%;
}

.input-field {
	display: inline-block;
	margin: auto;
	margin-right: 15px;
	outline: none;
	border: solid 1px lightgray;
	font-size: 14px;
	height: 35px !important;
	padding: 5px;
	width: 80%;
}

.submit-button {
	width: 100%;
	background-color: #0e3ea7be;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	outline: none !important;
	border: none;
	position: relative;
	font-size: 16px;
	font-weight: bold;
}
